
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
	background-color: black;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* General Demo Style */
body{
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #000;
	font-weight: 400;
	font-size: 15px;
	color: #aa3e03;
	overflow-y: scroll;
	overflow-x: hidden;
}
.ie7 body{
	overflow:hidden;
}
a {
	color: #ccc;
	text-decoration: none;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

.container2{
	position: relative;
	text-align: center;
	background-color: black;
	height: 30px;;

;

}
.clr{
	clear: both;

}
.container > header{
	padding: 30px 30px 10px 20px;
	margin: 0px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: left;
}
.container > header h1{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	font-size: 35px;
	line-height: 35px;
	position: relative;
	font-weight: 400;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0px 0px 5px 0px;
}
.container > header h1 span{

}
.container > header h2, p.info{
	font-size: 16px;
	font-style: italic;
	color: #f8f8f8;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
/* Header Style */
.codrops-top{
	font-family: Arial, sans-serif;
	line-height: 24px;
	font-size: 12px;
	width: 100%;
	background: #000;
	opacity: 0.9;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #ddd;
	display: block;
	float: left;
	text-decoration: none;
}
.codrops-top a:hover{
	color: #fff;
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: none;
	display: inline;
}
.fill_screen{
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  background-color:red;
  }
#followup_div{
  opacity: 1 ;
  height: auto;
  width: 100%;
  position:absolute;
  top:100%;
}
.mclass {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: none;
    z-index: auto;
    width: auto;
    min-height:auto;
    position: static;
    cursor: default;
    opacity: 1;
    margin: 0px;
    padding: 12px 0;
    overflow: visible;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: rgba(242, 242, 242, 0.7);
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: 1px -2px 3px rgba(102,102,102,1) ;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;

  }
  .block2 {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 250px;
  margin: 10px;
  padding: 33px;
  border: none;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(0,0,0,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: url("http://enjoycss.com/bg-img/custom/23868-h37vqa.png"), rgba(255,255,255,1);
  background-repeat: no-repeat;
  background-position: -774% 127%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 92% 218%;
  background-size: 92% 218%;
  -webkit-box-shadow: 4px 7px 2px 2px rgba(255,255,255,0.54) ;
  box-shadow: 4px 7px 2px 2px rgba(255,255,255,0.54) ;
  text-shadow: 2px 1px 3px rgba(255,255,255,1) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.block2:hover {
  -webkit-border-radius: 25px 0 0;
  border-radius: 25px 0 0;
  background-repeat: no-repeat;
  background-position: -660% 62%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 92% 218%;
  background-size: 92% 218%;
  -webkit-box-shadow: 2px 5px 0 2px rgba(255,255,255,0.54) ;
  box-shadow: 2px 5px 0 2px rgba(255,255,255,0.54) ;
  text-shadow: 1px 1px 3px rgba(255,255,255,1) ;
  -webkit-transition: all 200ms cubic-bezier(0.68, -0.75, 0.265, 1.75) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.68, -0.75, 0.265, 1.75) 10ms;
  -o-transition: all 200ms cubic-bezier(0.68, -0.75, 0.265, 1.75) 10ms;
  transition: all 200ms cubic-bezier(0.68, -0.75, 0.265, 1.75) 10ms;
}
.block {
display: inline-block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
width: 250px;
margin: 10px;
padding: 33px;
border: none;
font: normal 16px/normal "Times New Roman", Times, serif;
color: rgba(0,0,0,0.9);
-o-text-overflow: clip;
text-overflow: clip;
background: url("http://enjoycss.com/bg-img/custom/23868-h37vqa.png"), rgba(255,255,255,1);
background-repeat: no-repeat;
background-position: -774% 127%;
-webkit-background-origin: padding-box;
background-origin: padding-box;
-webkit-background-clip: border-box;
background-clip: border-box;
-webkit-background-size: 92% 218%;
background-size: 92% 218%;
-webkit-box-shadow: 4px 7px 2px 2px rgba(0,0,0,0.54) ;
box-shadow: 4px 7px 2px 2px rgba(0,0,0,0.54) ;
text-shadow: 2px 1px 3px rgba(255,255,255,1) ;
-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.block:hover {
-webkit-border-radius: 25px 0 0;
border-radius: 25px 0 0;
background-repeat: no-repeat;
background-position: -660% 62%;
-webkit-background-origin: padding-box;
background-origin: padding-box;
-webkit-background-clip: border-box;
background-clip: border-box;
-webkit-background-size: 92% 218%;
background-size: 92% 218%;
-webkit-box-shadow: 2px 5px 0 2px rgba(0,0,0,0.54) ;
box-shadow: 2px 5px 0 2px rgba(0,0,0,0.54) ;
text-shadow: 1px 1px 3px rgba(255,255,255,1) ;
-webkit-transition: all 200ms cubic-bezier(0.68, -0.75, 0.265, 1.75) 10ms;
-moz-transition: all 200ms cubic-bezier(0.68, -0.75, 0.265, 1.75) 10ms;
-o-transition: all 200ms cubic-bezier(0.68, -0.75, 0.265, 1.75) 10ms;
transition: all 200ms cubic-bezier(0.68, -0.75, 0.265, 1.75) 10ms;
}
  .block span.right{
  	float: left;

  }

  .tran_block {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 25px 25px 23px;
    border: none;
    font: normal normal bold 21px/1 "Comic Sans MS", cursive, sans-serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    letter-spacing: 21px;
    background: -webkit-linear-gradient(-90deg, rgba(242,242,242,0) 20%, rgba(242,242,242,0.2) 35%, rgba(242,242,242,1) 53%, rgba(242,242,242,0.2) 70%, rgba(242,242,242,0) 90%);
    background: -moz-linear-gradient(180deg, rgba(242,242,242,0) 20%, rgba(242,242,242,0.2) 35%, rgba(242,242,242,1) 53%, rgba(242,242,242,0.2) 70%,  rgba(242,242,242,0) 90%);
    background: linear-gradient(180deg, rgba(242,242,242,0) 20%, rgba(242,242,242,0.2) 35%, rgba(242,242,242,1) 53%, rgba(242,242,242,0.2) 70%, rgba(242,242,242,0) 90%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    text-shadow: 3px 2px 2px rgba(0,0,0,0.5) ;
  }
	.search_form {
	  display: inline-block;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  float: right;
	  z-index: 10;
	  width: 150px;
	  height: 42px;
	  position: relative;
	  cursor: pointer;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  margin: 38px 0 0;
	  padding: 0 20px;
	  overflow: hidden;
	  border: none;
	  -webkit-border-radius: 21px;
	  border-radius: 21px;
	  font: normal 20px/normal "Antic", Helvetica, sans-serif;
	  color: rgba(239,239,239,1);
	  text-decoration: normal;
	  -o-text-overflow: ellipsis;
	  text-overflow: ellipsis;
	  background: rgba(255,255,255,0.09);
	  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
	  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
	  -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
	  -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
	  -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
	  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
	}

	.search_form:hover {
	  color: rgba(181,181,181,1);
	  background: rgba(0,0,0,0.4);
	  -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
	  -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
	  -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
	  transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
	}

	.search_form:focus {
	  width: 213px;
	  padding: -13px 20px 0;
	  -webkit-border-radius: 0;
	  border-radius: 0;
	  color: rgba(255,255,255,1);
	  -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
	  -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
	  -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
	  transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
	}
  .black {
    display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: none;
  z-index: auto;
  width: 100%;
  height: auto;
  position: static;
  cursor: default;
  opacity: 1;
  margin: 0;
  padding: 0px;
  overflow: visible;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(0,0,0,0.93);
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5) ;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
  }
p.pleft {
  text-align: left;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: italic normal normal 16px/1 "Lucida Console", Monaco, monospace;
  color: rgba(255,255,255,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  letter-spacing: 1px;
  text-shadow: 5px 1px 8px rgba(255,255,35,0.4) ;
}
p.pright {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 16px/2 "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: rgba(255,255,255,1);
  text-align: right;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  letter-spacing: 2px;
}
p.header1
{
  font: normal normal  27px/1 "Comic Sans MS", cursive, sans-serif;
  color: rgba(255,255,255,0.82);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  letter-spacing: 2px;
}
.whitebox{
  min-width: 150px;
  align: left;
  display: inline-block;
 -webkit-box-sizing: content-box;
 -moz-box-sizing: content-box;
 box-sizing: content-box;
 padding: 15px 10px;
 margin: 5px;
 border: 1px solid rgba(239,239,239,0.4);
 -webkit-border-radius: 0;
 border-radius: 0;
}
.square_menu {

}
.buttonz {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 56px;
  height: 32px;
  position: relative;
  cursor: pointer;
  top: 0;
  padding: 0 25.600000381469727px;
  border: 1px solid rgb(225,225,225);
  font: normal normal 300 15px/32px "Electrolize", Helvetica, sans-serif;
  color: rgb(102, 102, 102);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(0deg, rgba(243,243,243,0.42) 0, rgba(243,243,243,0.9) 5%, rgba(233,233,233,0.74) 100%), rgba(238,238,238,0.34);
  background: -moz-linear-gradient(90deg, rgba(243,243,243,0.42) 0, rgba(243,243,243,0.9) 5%, rgba(233,233,233,0.74) 100%), rgba(238,238,238,0.34);
  background: linear-gradient(90deg, rgba(243,243,243,0.42) 0, rgba(243,243,243,0.9) 5%, rgba(233,233,233,0.74) 100%), rgba(238,238,238,0.34);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset, 0 7px 0 0 rgb(187,187,187) , 0 8px 3px 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset, 0 7px 0 0 rgb(187,187,187) , 0 8px 3px 0 rgba(0,0,0,0.2) ;
  -webkit-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

.buttonz:hover {
  color: rgba(135,135,135,1);
  background: -webkit-linear-gradient(-90deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), -webkit-linear-gradient(0deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: -moz-linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), -moz-linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  background: linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), linear-gradient(90deg, rgb(243,243,243) 0, rgb(233,233,233) 100%), rgb(238, 238, 238);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.buttonz:active {
  top: 6px;
  color: rgba(160,160,160,1);
  background: -webkit-linear-gradient(-90deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), rgb(255, 255, 255);
  background: -moz-linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255,255,255) 0, rgb(235,235,235) 100%), rgb(255, 255, 255);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.298039) inset, 0 -1px 1px 0 rgba(255,255,255,0.14902) inset;
  -webkit-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
}
  #mynetwork {
      align: center;
      width: 80%;
      height: 70%;
      border: 0px solid black;
      -webkit-box-shadow: 1px 2px 8px 2px rgba(0,0,0,0.4) ;
      box-shadow: 1px 2px 8px 2px rgba(0,0,0,0.4) ;
			background-color: black;
  }
p.codrops-demos{
	display: block;
	padding: 15px 0px;
}
p.codrops-demos a,
p.codrops-demos a.current-demo,
p.codrops-demos a.current-demo:hover{
    display: inline-block;
	border: 1px solid #6d0019;
	padding: 4px 10px 3px;
	font-size: 13px;
	line-height: 18px;
	margin: 2px 3px;
	font-weight: 800;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:0px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #a90329;
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019));
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
}
p.codrops-demos a:hover{
	background: #6d0019;
}
p.codrops-demos a:active{
	background: #6d0019;
	background: -moz-linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d0019), color-stop(56%,#8f0222), color-stop(100%,#a90329));
	background: -webkit-linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%);
	background: -o-linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%);
	background: -ms-linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%);
	background: linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%);
	-webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.9);
	-moz-box-shadow:0px 1px 1px rgba(255,255,255,0.9);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.9);
}
p.codrops-demos a.current-demo,
p.codrops-demos a.current-demo:hover{
	color: #A5727D;
	background: #6d0019;
}

/* vars and keyframes*/

/* Media Queries */
@media screen and (max-width: 767px) {
	.container > header{
		text-align: center;
	}
	p.codrops-demos {
		position: relative;
		top: auto;
		left: auto;
	}
	.search_form{
		margin-top: 0;
	}
  .block span.right{
    float: left;
    width: 150px;
    opacity: 1;
  }
  #mynetwork {
    align: center;
    width: 400px;
		height:600px;
  }
}
