body{
 margin:0;
background-image: url("http://enjoycss.com/bg-img/custom/23868-12dv6kw.png");
background-position: 50% 50%;

}
p.centre{
  text-align: center;
}
.menu_bar {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 70px;
  position: relative;
  content: ;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  padding: 22px 22px 0;
  overflow: hidden;
  outline: none;
  border: 0 solid rgba(255,255,255,0.22);
  border-bottom-width: 5px;
  font: normal normal bold 27px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  text-decoration: none;
  text-align: right;
  text-indent: 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  letter-spacing: 0;
  white-space: normal;
  word-spacing: 0;
  word-wrap: ;
  background: url("http://enjoycss.com/bg-img/custom/23868-1wqyraz.png"), -webkit-repeating-linear-gradient(0deg, rgba(52,73,94,1) 0, rgba(52,73,94,1) 23%, rgba(255,255,255,0.17) 29%, rgba(52,73,94,1) 35%, rgba(52,73,94,1) 100%);
  background: url("http://enjoycss.com/bg-img/custom/23868-1wqyraz.png"), -moz-repeating-linear-gradient(90deg, rgba(52,73,94,1) 0, rgba(52,73,94,1) 23%, rgba(255,255,255,0.17) 29%, rgba(52,73,94,1) 35%, rgba(52,73,94,1) 100%);
  background: url("http://enjoycss.com/bg-img/custom/23868-1wqyraz.png"), repeating-linear-gradient(90deg, rgba(52,73,94,1) 0, rgba(52,73,94,1) 23%, rgba(255,255,255,0.17) 29%, rgba(52,73,94,1) 35%, rgba(52,73,94,1) 100%);
  background-repeat: repeat-x, repeat;
  background-position: 43% 50%, 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 754px 208px, 13px auto;
  background-size: 754px 208px, 13px auto;
  text-shadow: 1px 2px 2px rgba(0,0,0,1) ;
  -webkit-transition: all 8s cubic-bezier(0.445, 0.05, 0.55, 0.95) 9ms;
  -moz-transition: all 8s cubic-bezier(0.445, 0.05, 0.55, 0.95) 9ms;
  -o-transition: all 8s cubic-bezier(0.445, 0.05, 0.55, 0.95) 9ms;
  transition: all 8s cubic-bezier(0.445, 0.05, 0.55, 0.95) 9ms;
}

.menu_bar:hover {
  border: 0 solid rgba(255,255,255,0.56);
  border-bottom: 5px solid rgba(255,255,255,0.15);
  background: url("http://enjoycss.com/bg-img/custom/23868-1wqyraz.png"), -webkit-repeating-linear-gradient(0deg, rgba(52,73,94,0.96) 0, rgba(52,73,94,0.96) 23%, rgba(255,255,255,0.43) 27%, rgba(52,73,94,0.96) 35%, rgba(52,73,94,0.96) 100%);
  background: url("http://enjoycss.com/bg-img/custom/23868-1wqyraz.png"), -moz-repeating-linear-gradient(90deg, rgba(52,73,94,0.96) 0, rgba(52,73,94,0.96) 23%, rgba(255,255,255,0.43) 27%, rgba(52,73,94,0.96) 35%, rgba(52,73,94,0.96) 100%);
  background: url("http://enjoycss.com/bg-img/custom/23868-1wqyraz.png"), repeating-linear-gradient(90deg, rgba(52,73,94,0.96) 0, rgba(52,73,94,0.96) 23%, rgba(255,255,255,0.43) 27%, rgba(52,73,94,0.96) 35%, rgba(52,73,94,0.96) 100%);
  background-repeat: repeat-x, repeat;
  background-position: 16% 50%, 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 754px 208px, 13px auto;
  background-size: 754px 208px, 13px auto;
  -webkit-transition: all 8s cubic-bezier(0.215, 0.61, 0.355, 1) 5ms;
  -moz-transition: all 8s cubic-bezier(0.215, 0.61, 0.355, 1) 5ms;
  -o-transition: all 8s cubic-bezier(0.215, 0.61, 0.355, 1) 5ms;
  transition: all 8s cubic-bezier(0.215, 0.61, 0.355, 1) 5ms;
}
.mclass {
  align-items: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: none;
  z-index: auto;
  width: auto;
  min-height:auto;
  position: static;
  cursor: default;
  opacity: 1;
  margin: 0;
  padding: 24px;
  overflow: visible;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(242,242,242,1);
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: 1px -2px 3px rgba(102,102,102,1) ;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;

}


.but_holder{


    position: absolute;
    width: 40%;
    height: 30px;
    bottom: 0;
    left: 0;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: black;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.e_buttons {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  bottom: 0;
  padding: 10px 20px 0;
  border: 1px solid rgba(255,255,255,0.56);
  font: normal normal bold 18px/normal "Lucida Console", Monaco, monospace;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(52,73,94,0);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.e_buttons:hover {
  padding: 10px 20px 21px;
  border: 1px solid;
  -webkit-border-radius: 1px 0 1px 1px;
  border-radius: 1px 0 1px 1px;
  background: none;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.07) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.07) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -webkit-transform:   translateY(-9px) ;
  transform:   translateY(-9px) ;
}

.e_buttons:active {
  padding: 10px 20px 0;
  border: 1px solid rgba(255,255,255,0.56);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-transform:   translateY(-6px) ;
  transform:   translateY(-6px) ;
}

.block {
display: inline-block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
float: none;
z-index: auto;
width: 300px;
height: auto;
position: static;
cursor: default;
opacity: 1;
margin: 5px;
padding: 33px;
overflow: visible;
border: 1px solid;
-webkit-border-radius: 0;
border-radius: 0;
font: normal 16px/normal "Times New Roman", Times, serif;
color: rgba(0,0,0,0.9);
-o-text-overflow: clip;
text-overflow: clip;
background: none;
-webkit-box-shadow: none;
box-shadow: none;
text-shadow: none;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
}
.tran_block {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 25px 25px 3px;
  border: none;
  font: normal normal bold 21px/1 "Comic Sans MS", cursive, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  letter-spacing: 21px;
  background: -webkit-linear-gradient(-90deg, rgba(242,242,242,0.83) 0, rgba(242,242,242,1) 93%, rgba(242,242,242,1) 100%);
  background: -moz-linear-gradient(180deg, rgba(242,242,242,0.83) 0, rgba(242,242,242,1) 93%, rgba(242,242,242,1) 100%);
  background: linear-gradient(180deg, rgba(242,242,242,0.83) 0, rgba(242,242,242,1) 93%, rgba(242,242,242,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  text-shadow: 3px 2px 2px rgba(0,0,0,0.5) ;
}
#mynetwork {

    align: center;
    width: 600px;
    height: 400px;
    border: 0px solid black;
    -webkit-box-shadow: 1px 2px 8px 2px rgba(0,0,0,0.4) ;
    box-shadow: 1px 2px 8px 2px rgba(0,0,0,0.4) ;
    background: rgba(0,0,0,0.93);
}
#myframe {

}
.black {
  display: block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
float: none;
z-index: auto;
width: 100%;
height: auto;
position: static;
cursor: default;
opacity: 1;
margin: 0;
padding: 0px;
overflow: visible;
border: none;
-webkit-border-radius: 0;
border-radius: 0;
font: normal 16px/1 "Times New Roman", Times, serif;
color: rgba(255,255,255,1);
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
background: rgba(0,0,0,0.93);
-webkit-box-shadow: none;
box-shadow: none;
text-shadow: 2px 2px 2px rgba(0,0,0,0.5) ;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
}
/*.footer{
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: none;
  z-index: auto;
  width: 100%;
  height: 50px;
  position: relative;
  content: ;
  cursor: default;
  opacity: 1;
  top: auto;
  right: auto;
  bottom: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  overflow: visible;
  outline: none;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: black;
  text-decoration: none;
  text-align: left;
  text-transform: none;
  text-indent: 0;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  letter-spacing: 0;
  white-space: normal;
  word-spacing: 0;
  word-wrap: ;
  background: rgba(52,73,94,0.91);
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
}*/
* {
  margin: 0;
}
html, body {
  height: 100%;
}
#header {
    background:#CCC;
    height:50px;
}
/*#bkgHolder {
    background-image: url('http://www.hdwallpapers.in/walls/abstract_color_background_picture_8016-wide.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width:100%;
    height:100%;
    position:absolute;
    z-index:-10;
}*/

// vars and keyframes
$delay: .5s;
$menu-items: 3;

@keyframes drop {
  from {
    top: 0px;
  }
  70% {
    top: 165px;
    animation-timing-function: ease-in;
  }
  to {
    top: 150px;
    animation-timing-function: ease-out;
  }
}
.mwrapper {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 10px auto;
}

.button {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #2E3F47;
  z-index: 2;
}

.button__line {
  background: #ccc;
  width: 90px;
  height: 15px;

  &:not(:first-child) {
    margin-top: 15px;
  }
}

.menu {
  width: 100%;
}

.menu__list {
  text-align: center;
  width: 100%;
  padding-left: 0;
}

.menu__list__item {
  position: relative;
  list-style: none;
  padding-bottom: 15px;
  top: 0px;
}

.menu__list__item a {
  text-decoration: none;
  color: grey;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

.menu__list__item {
  opacity: 0;
}

.menu__list--animate .menu__list__item {
  animation: drop 0.9s;
  animation-fill-mode: forwards;
  opacity: 1;

  @for $i from 2 through $menu-items {
    &:nth-child(#{$i}) {
      animation-delay: $delay * ($i - 1);
    }
  }
}
.wrapper {
  min-height: 100%;
  margin-bottom: -25px;
  position:relative;
}
.wrapper:after {
  content: "";
  display: block;
}
.footer, .wrapper:after {
  height: 25px;
}
.footer {
  background:#6AF;
}
p {
    color:#FFF;
}
